body{
    padding-top: 250px;
    background: rgb(150, 146, 146);
    justify-content: center;
    align-items: center;
}
g
.container{
    background: rgb(230, 142, 157);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .click-me-button{
    color: #fff;
    background: skyblue;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.container .reset-button{
    color: #fff;
    background: red;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.result{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}